.section {
  width: 200px;
  border: solid 1px;
  border-radius: 5px;

  &__content {
    padding: 5px;
    border-top: solid 1px;
  }

  &__caret {
    float: right;
  }

  &__header {
    padding: 5px;
    cursor: pointer;
  }
}
